##If的使用

In [ ]:
a=4
b=3
if a>b: #if要加:
  print("a>b")
else:
  print("a<b")

a<b

In [ ]:
grade=66
print("成績評鑑")
if grade>=90:
  print("優等")
if grade>=80:
  print("甲等")
if grade>=70:
  print("乙等")
if grade>=60:
  print("丙等")
if grade<60:
  print("不及格")

成績評鑑
乙等
丙等

##For的使用

In [ ]:
for i in range(10):#0-9,不包含10
  print(i)
for i in range(0,10,1):#從1,每次進1次,不包含10
  print(i)

0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9

In [ ]:
for c in "I am a girl.":
  print(c)
for p in ["Java","C#","Python"]:
  print(p)

I

a
m

a

g
i
r
l
.
Java
C#
Python

In [ ]:
sum=0
for i in range(1,11,1):
  sum+=i
  print(sum)

1
3
6
10
15
21
28
36
45
55

In [ ]:
for chicken in range(0,36): #0-35,不含36
    rabbit=35-chicken
    if (2*chicken+4*rabbit) == 94:
        print("雞有",chicken,"隻 , 兔子有",rabbit,"隻")
        break
else:
    print("無解")

雞有 23 隻 , 兔子有 12 隻

In [ ]:
i=1
sum=0
while i<11:
  sum+=i
  i+=1
  
  print(sum)

1
3
6
10
15
21
28
36
45
55